<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- NOTE: joy_node must be ran on local machine connected to this robot! -->

  <!-- Load config and parameters -->
  <rosparam file="$(find controller)/config.yaml" command="load"/>
  <rosparam file="$(find controller)/params.yaml" command="load"/>

  <!-- Launch joy handler -->
  <node name="joy_handler" pkg="controller" type="joy.py" output="screen"/>
</launch>
